* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  background-color: hsl(210, 46%, 95%);
  line-height: 1.7;
}

.header div {
  line-height: 1.2em;
}

.header div p {
  opacity: 50%;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 100px auto;
  padding: 0 100px;
  max-width: 1440px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.header > div {
  margin-left: 10px;
}

.header img {
  border-radius: 50%;
  border: 1px solid lightgreen;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.main {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: bold;
  margin-bottom: 15px;
}

.sub {
  opacity: 70%;
  font-weight: 500;
}
.Daniel {
  background-color: hsl(263, 55%, 52%);
  grid-row: 1;
  grid-column: 1/3;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  border-radius: 10px;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
  background-size: 100px;
}

.Jonathan {
  background-color: hsl(217, 19%, 35%);
  grid-column: 3/4;
  grid-row: 1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Kira {
  background-color: hsl(0, 0%, 100%);
  color: black;
  grid-column: 4/5;
  grid-row: 1/3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Jeanette {
  background-color: hsl(0, 0%, 100%);
  color: black;
  grid-column: 1/2;
  grid-row: 2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Patrick {
  background-color: hsl(219, 29%, 14%);
  grid-row: 2;
  grid-column: 2/4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
